<!DOCTYPE html>
<html>
<head>
<link rel="stylesheet" type="text/css" href="style.css">

<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/1.9.0/jquery.js"></script>
<link data-require="bootstrap@3.0.0" data-semver="3.0.0" rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" />
<script src="//netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
<script src="http://cdnjs.cloudflare.com/ajax/libs/angular-ui-bootstrap/0.10.0/ui-bootstrap-tpls.js"></script>


</head>
<body>

<div class="jumbotron banner">
    <p class="banner"> Mini Project for DIS2 - Welcome screen</p>
    <p class="groupNumber"> Group 4</p>
</div>

<div ng-app="app" ng-controller="userController" class="mainscreen" width= "100%" height="100%">

  <div ng-repeat="user in myData" class="card"  >
    <div ng-click="open(user)" >

      <img src="{{ user.pictureurl }}" alt="Avatar" style="width:100%">
      <div class="container">
        <h4><b>{{user.fullname}}</b></h4>
        <div ng-if="user.status==1">
          <img class="status-icon" src="img/avai.png">
          <a class="status-text">Available</a>
        </div>
        <div ng-if="user.status==2">
          <img class="status-icon" src="img/busy.png">
          <a class="status-text">Busy</a>
        </div>
        <div ng-if="user.status==3">
          <img class="status-icon" src="img/notavai.png">
          <a class="status-text">Not Available</a>
        </div>
      </div>

      <!--NORMAL MODAL WINDOW-->
      <script type="text/ng-template" id="myNormalModalContent.html">
          <div class="modal-header">
              <h2>{{ user.fullname }}</h2>
          </div>

          <div class="modal-body">
            <img class="contact-photo" src="{{ user.pictureurl }}"/>
          </div>

          <a class="normalStatus">Hi, I am available now. Feel free to contact me!</a>
          <div class="modal-footer">
            <!--BTNS GROUP -->
            <div class="btn-group btn-group-justified">
               <a href="facetime://{{ user.facetiimeid }}" class="btn btn-primary">Call Me</a>
               <a href="imessage://{{ user.facetiimeid }}" class="btn btn-primary">Message Me</a>
            </div>

          </div>
      </script>

      <!--SECRETARY MODAL WINDOW-->
      <script type="text/ng-template" id="mySecretaryModalContent.html">
          <div class="modal-header">
              <h2>{{ user.fullname }}</h2>
          </div>

          <div class="modal-body">
              <img class="contact-photo" src="{{ user.pictureurl }}"/>
          </div>
          <a class="busyStatus">Sorry, I am not available now. Please contact our secretary!</a>

          <div class="modal-footer">
            <!--BTNS GROUP -->
            <div class="btn-group btn-group-justified">
               <a href="facetime://suchi.julidayani@icloud.com" class="btn btn-primary">Call Secretary</a>
               <a href="imessage://suchi.julidayani@icloud.com" class="btn btn-primary">Message Secretary</a>
            </div>

          </div>
      </script>

    </div>
  </div>
</div>


<script>
  var jsonUrl = "http://dis2.prudhvee.com/getlist.php";

  var app = angular.module('app', ['ui.bootstrap']);

  app.config( [
      '$compileProvider',
      function( $compileProvider )
      {
          $compileProvider.aHrefSanitizationWhitelist(/^\s*(https?|ftp|imessage|facetime):/);
          // Angular before v1.2 uses $compileProvider.urlSanitizationWhitelist(...)
      }
  ]);

  app.controller('ModalInstanceCtrl', function ($scope, $modalInstance, user)
  {
    $scope.user = user;
  });

  app.controller('userController', function($scope, $http, $timeout, $modal, $log) {
      $http.get(jsonUrl).then(function(response) {
          $scope.myData = response.data;
          $scope.open = function (_user) {
              if(_user.status == 1){
                var modalInstance = $modal.open({
                  controller: "ModalInstanceCtrl",
                  templateUrl: 'myNormalModalContent.html',
                    resolve: {
                        user: function()
                        {
                            return _user;
                        }
                    }
                 });
              }else{
                var modalInstance = $modal.open({
                  controller: "ModalInstanceCtrl",
                  templateUrl: 'mySecretaryModalContent.html',
                    resolve: {
                        user: function()
                        {
                            return _user;
                        }
                    }
                 });
              }
          };
      });
  });

  setTimeout(function() {
    location.reload();
  }, 10000);

</script>


</body>
</html>
